{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Mensaje</title>
    <link rel="stylesheet" href="{% static 'mensajes/styles.css' %}">
</head>
<body>
    <div class="contenedor">
        <header>Enviar Mensaje</header>

        <!-- Formulario para enviar mensaje -->
        <form method="post" class="formulario">
            {% csrf_token %}
            <div class="entrada">
                <label for="remitente">Remitente</label>
                <input type="text" id="remitente" name="remitente" placeholder="Remitente" required>
            </div>
            <div class="entrada">
                <label for="destinatario">Destinatario</label>
                <input type="text" id="destinatario" name="destinatario" placeholder="Destinatario" required>
            </div>
            <div class="entrada">
                <label for="texto">Mensaje</label>
                <br>
                <textarea id="texto" name="texto" placeholder="Escribe tu mensaje aquí..." required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
        <br>
        <a href="{% url 'inicio' %}" class="btn">Volver al inicio</a>
    </div>
</body>
</html>